@charset "utf-8";

	/* common */
	html.fp-enabled, .fp-enabled body{    overflow: hidden!important;}

	/* main visual*/
	.main_sec01{position: relative;}
	.main_sec01 .fp-tableCell>div{}
	.main_sec01 .mnv_video{position: relative;height: 100%;}
	.main_sec01 .mnv_video:After{content: '';position: absolute;top:0;left:0;right:0;bottom: 0;;width: 100%;height: 100%;background:rgba(0,0,0,0.3)}
	.main_sec01 .mnv_video video{width: 100%;height: 104%;position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)}
	.main_sec01 .mnv_video img{ width: 100%;height: 100vh; }
	.main_sec01 .mnv_slog{position: absolute;top:40%;width: 1320px;left: 50%; -webkit-transform: translateX(-50%);-moz-transform:translateX(-50%) ;-ms-transform:translateX(-50%) ;-o-transform:translateX(-50%) ;transform:translateX(-50%) ;}
	.main_sec01 .mnv_slog span{display: block;font-size:20px;line-height: 67px;color: #f60;font-weight: 700;text-align: center;letter-spacing: 5px;}
	.main_sec01 .mnv_slog h2{font-size:60px;line-height: 70px;color: #000;font-weight: 400;text-align: center;}
	.main_sec01 .mnv_slog h2 strong{font-weight: 500;}


	.mnv_scroll{position: absolute;bottom:0;left:50%;;width:1320px;height: 255px;margin-left:-660px;;}
	.mnv_scroll figure{text-align: right;}

	
	.bs_sld_wrap {position:relative;width:100%;height:645px; margin:auto; padding-bottom: 30px; overflow: hidden;}
	.bs_sldtab_cont{position: absolute;left:0;right:0;width:100%;height: 100%;;}
/* 	.bs_sldtab_cont{opacity:0}
	.bs_sldtab_cont.on{opacity:1} */
	.bs_sldtab_cont{visibility:hidden;}
	.bs_sldtab_cont.on{visibility:visible;}


	/* .appli_sd */
	.appli_sd {position:relative;min-width: 1920px;height:553px;margin:auto; padding-bottom: 30px;}
	.apct_sd_wrap, .apct_sd_wrap2{width:100%;	height:553px;}
	.apct_sd_wrap .slick-list:before, .apct_sd_wrap2 .slick-list:before{content: '';position: absolute;top:0px;left:0;;z-index: 9;width:300px;height: 100%;background: rgba(0,0,0,0)}
	.apct_sd_wrap .slick-list:after, .apct_sd_wrap2 .slick-list:after{content: '';position: absolute;top:0px;right:0;;z-index: 9;width:200px;height: 100%;background: rgba(0,0,0,0)}

	.apct_sd_for{position: absolute;top: 0px;left: 302px;width: 509px;height: 553px;/* background: #ecff83 */;z-index: 1;}
	.apct_sd_for2{position: absolute;top: 0px;left: 302px;width: 509px;height: 553px;/* background: yellow; */z-index: 1;}
	
	.appli_sd_info,
	.appli_sd_info.slick-current{position: absolute;top:0;left:0; outline:none; z-index: 99; height: 553px; background: url(../../images/main/mns2_txt_bg.png) no-repeat right bottom;padding:118px 0 0 91px;box-sizing:border-box;}
	.appli_sd_info h4{font-size:45px;line-height: 1;color: #333333;font-weight: 700;}
	.appli_sd_info h4 span{display: block;margin-bottom: 14px;font-size:20px;color: #1c449a;font-weight: 700;text-transform: uppercase;}
	.appli_sd_info div{position: relative;margin-top:46px;}
	.appli_sd_info div p.num{font-size:48px;line-height:1;color: #e7e7e7;font-weight: 700;}	
	.appli_sd_info div h5{margin:21px 0 15px;font-size:28px;line-height:1;color: #333;font-weight: 700;}	
	.appli_sd_info div p{display: block;font-size:18px;line-height:28px;color: #666666;}	

	.appli_sd_list{position: relative;/* width:1320px!important; */height: 553px;padding-bottom: 30px;}
	.appli_sd_list a{display: block;width:100%;height: 100%;;}
	.appli_sd_list img{margin-right:20px;box-shadow:5px 5px 8px rgba(0,0,0,0.08);transition:0.6s}
	.appli_sd_list img{/* position: absolute;right:0; */height: 100%;width:auto; max-height: 553px;;}
	.appli_sd_list img{position: absolute;right:0;top:0;} 
	.appli_sd_list.bg_move img{left:0;}
	.appli_sd_list.slick-cloned.bg_move img{left: 0!important;}

	.appli_sd  .slick-prev{position: absolute;bottom: 0;left: 811px;z-index: 99;width:84px;height: 70px;background: url(../../images/main/bs_sld_arr_pv.png) no-repeat center;font-size:0!important;cursor: pointer;transition:0.3s;outline:none;border-right:1px solid #313131}
	.appli_sd  .slick-next{position: absolute;bottom: 0;left: 894px;z-index: 99;width:84px;height: 70px;background: url(../../images/main/bs_sld_arr_nt.png) no-repeat center;font-size:0!important;cursor: pointer;transition:0.3s;outline:none;}
