@charset "utf-8";

/*** Sub Common ***/
.sub_wrap{margin-top: 110px;;}

/** Sub_Visual **/
.sub_visual_1{background:url(../../images/sub/s_visual01.png) no-repeat center center;}
.sub_visual_2{background:url(../../images/sub/s_visual02.png) no-repeat center center;}
.sub_visual_3{background:url(../../images/sub/s_visual03.png) no-repeat center center;}
.sub_visual_4{background:url(../../images/sub/s_visual04.png) no-repeat center center;}
.sub_visual_5{background:url(../../images/sub/s_visual05.png) no-repeat center center;}

.sub_visual .s_tc {height:310px;max-width: 1320px;margin: 0 auto;display: table;/* ;text-transform: uppercase;animation-duration: 1s;	 animation-name: slidein2; animation-fill-mode: forwards;opacity:0; bottom:-50px; */}
.s_tc_in{width:100%;height: 100%;;display:table-cell;vertical-align: middle;}
.sub_visual h3 {position:relative;opacity:0;font-size:50px;font-weight:500;color:#fff;transition:1s 1.8s ease; line-height: 64px;text-align: center; animation-duration: 1s;	animation-name: slidein2; animation-fill-mode: forwards;opacity:0;;}
.sub_visual p{font-size:20px;line-height: 36px;color: #fff;text-align: center;font-weight: 700;animation-duration: 1.5s;animation-name: slidein3; animation-fill-mode: forwards;opacity:0;}


 @keyframes slidein2{
  0%{opacity: 0;bottom:-50px;	  }
   30%{opacity: 0;	  }
  100% {	opacity: 1;	bottom:0px;  }
 }

 @keyframes slidein3{
  0%{opacity: 0;bottom:-50px;	  }
  30%{opacity: 0;	  }
  100% {	opacity: 1;	bottom:0px;  }
 }

.lnb_sd{display: block!important;}
.m_lnb_sd{display: none!important;}
.sub_ar{margin: 0 auto;  position: relative;} 
.con_title{padding-top: 90px;/*  padding-bottom: 130px */;}
.con_title4_1,
.con_title4_2{padding-bottom: 100px;}
.con_title_h2{display: none;}

/* .con_title_h2{display: none;text-align: center;font-size: 2.500em;line-height: 56px;color: #333;font-weight: 500;position: relative;padding-top: 24px;} */
/* .con_title_h2:before{content:''; position: absolute;left: 50%; margin-left: -8.5px;  top: 0px;width: 17px; height: 17px;background: url(../../images/main/sec101_4.png) no-repeat; } 



.sub_layout {margin-top: 50px;}
.sub_layout .lnb {float: left;width:18.95%} 
.lnb_tit_eng{display: block;font-size:16px;line-height: 29px;color: #b4d9f1;font-weight:500;margin-bottom:8px}
.sub_layout .lnb .lnb_cate{display: table; width:251px;height:168px;background:url(../../images/sub/lnb_tit_bg.png) no-repeat center;background-size:cover;font-size: 32px; line-height: 29px; color: #fff; font-weight: 600; }
.lnb_cate_in{display: table-cell;vertical-align: middle;height: 100%;padding-top: 7px;text-align: center;}
.lnb_cate_in .sv_title{font-size:30px;line-height: 28px;color: #fff;font-weight: 500;}
.lnb_cate_in .sv_txt{display: block;margin-top: 9px;font-size:18px;line-height: 28px;color: #fff;font-weight: 500;opacity: 0.7;}

.sub_layout .lnb .s_tb{ width:251px;}
.sub_layout .lnb .s_tb > ul > li > a{position: relative; padding-left: 20px;font-size: 16px; line-height: 49px; color: #787878;background-color: #fff; border-bottom: 1px solid #dddddd; box-sizing: border-box; transition:.3s;font-weight:500} 
.sub_layout .lnb .s_tb > ul > li > a br{display: none;}
.sub_layout .lnb .s_tb > ul > li > a:after{content: ''; position: absolute; top: 27px; right: 21px;width: 15px; height: 12px;margin-top:-8px;background: url(../../images/layout/lnb_bg.png) no-repeat center; transition:.3s; }
.sub_layout .lnb .s_tb > ul > li.current > a{color: #0089cf; }
.sub_layout .lnb .s_tb > ul > li.current > a:after{background: url(../../images/layout/lnb_bg_c.png) no-repeat center}
.sub_layout .lnb .s_tb > ul > li > .slnb_ul{display: none;}
.sub_layout .lnb .s_tb > ul > li.current > .slnb_ul{display: block;}
.sub_layout .lnb .s_tb > ul > li > .slnb_ul > li > a{position: relative;padding-left: 20px;font-size: 15px;letter-spacing: -1px; line-height: 55px; color: #606060;background-color: #fff; border-bottom: 1px solid #dddddd; box-sizing: border-box; transition:.3s; } 
.sub_layout .lnb .s_tb > ul > li > .slnb_ul > li.current > a{color:#26baf3;border-bottom: 1px solid #ddd;}
.sub_layout .lnb .s_tb > ul > li > .slnb_ul > li > a:after{position: absolute; content: ''; width: 15px; height: 2px ;right: 20px; top: 27px; transition:.3s;background-color: #cecece;}
.sub_layout .lnb .s_tb > ul > li > .slnb_ul > li.current > a:after{background-color: #26baf3;}*/



.sub_layout .sub_cont{float: left;width:77.27%;margin-left:3.7%}
.bd_sec{float: left;width:100%;}
/* .cont_tit_wrap{padding-top: 180px;} */
.cont_tit{font-size:32px;line-height: 42px;color: #333333;}
.cont_tit>span{color: #26baf3;}
.cont_sub_tit{display: block;margin-top: 9px;font-size:16px;line-height: 42px;color: #3d4753;font-weight: 600;}

.s_tit_box{position: relative;margin-top: 13px; margin-bottom: 59px;padding-bottom: 28px;border-bottom: 1px solid #ddd;overflow: hidden; }
.s_tit_box h3{float: left;font-size: 38px; line-height: 50px; color: #333333; font-weight: 500;} 
.sub_bd{position: absolute;top:12px;right:0;}
.sub_bd li{position: relative;float: left;margin-right:28px;font-size:16px;line-height: 50px;color: #999999;}
.sub_bd li:last-child{margin-right: 0;}
.sub_bd li.home{width:15px;height: 50px;;font-size:0;/* text-indent: -9999px; */background: url(../../images/sub/ico_home.png) no-repeat center;}
.sub_bd li:after{content: '>';position: absolute;top:0%;right:-18px;font-size:16px;color: #999;;}
.sub_bd li:last-child:after{display: none;}



.sub_layout {margin-top: 30px;/* margin-bottom: 150px; */}
.sub_layout .lnb {float: left;width:19.696%; margin-top: 22px;} 
.sub_layout .lnb .lnb_cate{display: table; width:100%;height:178px;background:url(../../images/sub/lnb_bg.jpg) no-repeat center;background-size:cover;font-size: 32px; line-height: 29px; color: #fff; font-weight: 600; }
.lnb_cate_in{display: table-cell;vertical-align: middle;height: 100%;padding-top: 7px;text-align: center;}
.lnb_cate_in .sv_title{font-size:38px;line-height: 18px;color: #fff;font-weight: 700;}
.lnb_cate_in .sv_txt{display: block;margin-top: 9px;font-size:18px;line-height: 28px;color: #fff;font-weight: 500;opacity: 0.7;}

.sub_layout .lnb .s_tb{ width:100%;}
.sub_layout .lnb .s_tb > ul > li > a{position: relative; padding-left: 20px;font-size: 16px; line-height: 53px; color: #666666;background-color: #fff; border-bottom: 1px solid #dddddd; box-sizing: border-box; transition:.3s;/* font-weight:500 */} 
.sub_layout .lnb .s_tb > ul > li > a br{display: none;}
.sub_layout .lnb .s_tb > ul > li > a:after{content: ''; position: absolute; top: 50%; right: 21px;width: 6px; height: 6px;margin-top:-3px;transition:.3s;background-color: #d4d5d7;border-radius:50%;}
.sub_layout .lnb .s_tb > ul > li.current > a{color: #1c449a; font-weight: 500;}
.sub_layout .lnb .s_tb > ul > li.current > a:after{background:#1c449a}
.sub_layout .lnb .s_tb > ul > li > .slnb_ul{display: none;}
.sub_layout .lnb .s_tb > ul > li.current > .slnb_ul{display: block;}
.sub_layout .lnb .s_tb > ul > li > .slnb_ul > li > a{position: relative;padding-left: 20px;font-size: 16px;letter-spacing: -1px; line-height: 52px; color: #aaaaaa;;background:#f9f9f9 url(../../images/sub/slnb_line_bg.png) repeat-x bottom left;box-sizing: border-box; transition:.3s; } 
.sub_layout .lnb .s_tb > ul > li > .slnb_ul > li:last-child > a{ border-bottom: 1px solid #dddddd;background: none;background-color: #f9f9f9;}
.sub_layout .lnb .s_tb > ul > li > .slnb_ul > li.current > a{background-color: #f9f9f9;color:#333333;font-weight: 500;}
/* .sub_layout .lnb .s_tb > ul > li > .slnb_ul > li > a:after{position: absolute; content: ''; width: 15px; height: 2px ;right: 20px; top: 27px; transition:.3s;background-color: #cecece;} */
.sub_layout .lnb .s_tb > ul > li > .slnb_ul > li.current > a:after{background-color: #26baf3;}
/* .s_wrap{ margin-bottom:150px } */


.sub_layout .sub_cont{float: left;width:75.757%;margin-left:4.545%;}
.bd_sec{float: left;width:100%;}
/* .cont_tit_wrap{padding-top: 180px;} */
.cont_tit{font-size:32px;line-height: 42px;color: #333333;}
.cont_tit>span{color: #26baf3;}
.cont_sub_tit{display: block;margin-top: 9px;font-size:16px;line-height: 42px;color: #3d4753;font-weight: 600;}

.s_tit_box{position: relative;margin-top: 13px; margin-bottom: 40px;padding-bottom: 28px;border-bottom: 1px solid #ddd;overflow: hidden; }
.s_tit_box h3{float: left;font-size: 38px; line-height: 64px; color: #333333; font-weight: 500;} 
.sub_bd{position: absolute;top:12px;right:0;}
.sub_bd li{position: relative;float: left;margin-right:28px;font-size:15px;line-height: 48px;color: #999999;}
.sub_bd li:last-child{margin-right: 0;}
.sub_bd li.home{width:15px;height: 50px;;font-size:0;/* text-indent: -9999px; */background: url(../../images/sub/ico_home.png) no-repeat center;}
.sub_bd li:after{content: '';position: absolute;top:50%;right:-18px;width:9px;height: 11px;margin-top: -4px;background: url(../../images/sub/ico_loc_arr.png) no-repeat center}
.sub_bd li:last-child:after{display: none;}


/* sub ���� */
.s_wrap h3{ color: #333; }
.s_wrap p{ color: #666; }
.arti_tit{ font-weight: 500; font-size: 32px; position: relative; padding-left: 18px; line-height: 48px; margin-bottom: 26px; }
.arti_tit::before{ content: ""; position: absolute;	background: url(../../images/sub/tit_bar.png) no-repeat; width: 4px; height: 28px; top: 50%;left: 0; -webkit-transform: translateY(-50%);-moz-transform:translateY(-50%) ;-ms-transform:translateY(-50%) ;-o-transform:translateY(-50%) ;transform:translateY(-50%) ; }
.sub_cont > section{margin-bottom: 150px;}


/* s1 */
.l_tit{ }
.l_tit h3{font-family: 'Play'; font-size: 18px; font-weight: 700; color: #999; margin: 10px 0; }
.l_tit h4{ font-size: 35px; line-height: 48px;font-weight: 700; color: #1c449a; }
.l_tit p{font-weight: 500;color: #333333; }
.l_tit{ }




/* s1_1 */
.s1_1 .arti01{  }
.s1_1 .arti01 .l_box{ float: left; width: 36.5%; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; padding-left: 15px;}
.s1_1 .arti01 .l_box h3{ }
.s1_1 .arti01 .l_box h4{}
.s1_1 .arti01 .l_box p{  }
.s1_1 .arti01 .r_box{float: left; width: 63.5%; border-left:1px solid #ddd; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding-left: 60px; margin-top: 13px;}
.s1_1 .arti01 .r_box p{ line-height: 26px; margin-bottom: 25px; letter-spacing: -0.5px;}
.s1_1 .arti01 .r_box p:nth-child(4){ margin-bottom: 7px;}

.s1_1 .arti01 .r_box h4{ font-weight: 700; color: #333; float: right;	padding-right: 15px; padding-bottom: 36px;}
.s1_1 .arti01 .r_box span{ font-size: 46px; font-family: 'OTEnjoystoriesBA'; font-weight: 700; vertical-align: middle; margin-left: 20px;}
.s1_1 .arti01 .r_box{  }
.s1_1 .arti01 .r_box{  }

.s1_1 .arti01{  }

.s1_1 .arti02{  }
.s1_1 .arti02 img{  }
.s1_1{  }
.s1_1{  }
.s1_1{  }
.s1_1{  }



/* s1_2 */
.s1_2 .arti_tit{margin-bottom: 30px; }

.s1_2 .arti01 figure{ position: relative; }
.s1_2 .arti01 img{  }
.s1_2 .arti01 p{ position: absolute; color: #fff; font-size: 35px; line-height: 50px; font-weight: 500;left: 60px;top:50%;-webkit-transform: translateY(-50%);-moz-transform:translateY(-50%) ;-ms-transform:translateY(-50%) ;-o-transform:translateY(-50%) ;transform:translateY(-50%) ;}
.s1_2 .arti01 table{margin-top: 40px; text-align: left;width: 100%; border-top:1px solid #000  }
.s1_2 .arti01 tr{ border-bottom:1px solid #ddd }
.s1_2 .arti01 th{text-align: left;	background: #f9f9f9; color: #333;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; font-weight: 500; width: 130px; padding:18px 0 15px 20px;}
.s1_2 .arti01 td{ color: #666;line-height: 26px; padding: 18px 0 15px 28px; }
.s1_2 .arti01 td span{color: #333;}

/* .s1_2 .arti02 div{ background: url(../../images/sub/s1_2_02.png) no-repeat ; width: 100%; height: 1050px; } */
.s1_2 .arti02{ margin-top: 72px; }
.s1_2 .arti02{  }
.s1_2 .arti02{  }
.s1_2 .arti02{  }
.s1_2 .arti02{  }
.s1_2 .arti02{  }
.s1_2 .arti02{  }
.s1_2 .arti02{  }


/* s1_3 s3_3*/
.s3_3 .l_box,
.s1_3 .l_box { float: left; width: 31%;}
.s3_3 .l_box h3,
.s1_3 .l_box h3{margin-bottom: 0; }
.s1_3 .l_box h4{}
.s3_3 .l_box p,
.s1_3 .l_box p{ display: inline; }
.s3_3 .r_box,
.s1_3 .r_box{position: relative;float: left; width: 69%; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; padding-left: 70px; margin-top: 29px;}
.s3_3 .r_box div,
.s1_3 .r_box div{margin-bottom: 25px; }
.s1_3 .r_box ul{ }
.s3_3 .r_box li,
.s1_3 .r_box li{ line-height: 30px;position: relative;}

/* .s3_3 .r_box span,
.s1_3 .r_box span{width: 30px; color: #333; font-weight: 500; display: inline-block; padding-right: 40px; } */


.s3_3 .r_box li:after,
.s1_3 .r_box li:after{display: block;content: '';clear: both;}

.s3_3 .r_box span:nth-child(1),
.s1_3 .r_box span:nth-child(1){float: left;width: 30px; color: #333; font-weight: 500; display: inline-block; padding-right: 40px; }


.s3_3 .r_box span:nth-child(2),
.s1_3 .r_box span:nth-child(2){float: left;width:calc(100% - 75px);display: inline-block; }

.s3_3 li::before,
.s1_3 li::before{position: absolute; content: ""; width: 2px; height:2px; background: #666; left: 60px; top: 16px;/*  -webkit-transform: translateY(-50%);-moz-transform:translateY(-50%) ;-ms-transform:translateY(-50%) ;-o-transform:translateY(-50%) ;transform:translateY(-50%) ;  */}
.s3_3 .r_box h4,
.s1_3 .r_box h4{position: relative; font-size: 32px; font-weight: 700; color: #333;}
.s3_3 .r_box h4::before,
.s1_3 .r_box h4::before{position: absolute; width: 14px; height: 14px;content: "";  top: 50%; -webkit-transform: translateY(-50%);-moz-transform:translateY(-50%) ;-ms-transform:translateY(-50%) ;-o-transform:translateY(-50%) ;transform:translateY(-50%) ; left: -76px;background: url(../../images/sub/s1_301.png) no-repeat; }
.s3_3 .r_box::before,
.s1_3 .r_box::before{position: absolute; content: ""; height: 100%; width: 1px; background: #e9e9e9;top:30px; left: 0;	}
.s3_3 .r_box::after,
.s1_3 .r_box::after{position: absolute; content: "";  width: 8px; height: 8px; border-radius:50%; border:3px solid #fff; background: #b5b5b5; bottom:-30px; left: -6px;	}

.s1_3 .r_box{ }



/* s1_4 */
.sub_cont_1_4 .s_tit_box{ padding-bottom:18px ; margin-bottom:30px ; }
.sub_cont > section.s1_4 { margin-bottom:110px }
.s1_4 div{  }
.s1_4 ul{  }
.s1_4 li{ float: left; width: 23.5%; margin-right:2%; margin-bottom: 40px;cursor: pointer;}
.s1_4 li:nth-child(4n){margin-right:0%}

.s1_4 figure{  border:1px solid #ddd; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; }
.s1_4 img{ width: 100%;  height: auto;}
.s1_4 p{ text-align: center; padding: 16px 0; border-bottom:1px solid #dbdbdb;}


.s1_4 .arti02{margin-top: 30px;}




/* s1_5 */
.root_daum_roughmap .wrap_map,
.root_daum_roughmap{width:100%!important;height:520px!important;}
.s1_5 .loca	{ border:1px solid #ddd; /* margin-bottom: 30px; */}
.s1_5 .txt_box{ border-top: 2px solid #ddd; }
.s1_5 .arti02{margin-top: 80px;  }
.s1_5 .txt_box{ padding: 46px 26px 59px; margin-top: -7px; }
.s1_5 .loca h3{ float: left; margin-right: 50px; font-size: 25px; font-weight: 500; color: #303030; }
.s1_5 p{ float: left; line-height: 36px; color: #606060; }
.s1_5 span{ padding-right: 27px; position: relative;}
.s1_5 span:nth-child(2)::before{  width: 1px; height:12px ; background: #dbdbdb;content: ""; position: absolute; top: 50%;right: 9px; -webkit-transform: translateY(-50%);-moz-transform:translateY(-50%) ;-ms-transform:translateY(-50%) ;-o-transform:translateY(-50%) ;transform:translateY(-50%) ;}
.s1_5 .r_box{float: left;  }
.s1_5 .l_box{float: right; margin-right:7px}
.s1_5 .l_box li {float: left;}
.s1_5 .l_box li:last-child{margin-left: -1px;}
.s1_5 .l_box li a{position: relative; width: 61px; height: 61px; border: 1px solid #ddd; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; }
.s1_5 .l_box li a:before{position: absolute; content:''; width: 61px; height: 61px; background: url(../../images/sub/print01.png) center no-repeat; transition:.3s;}
.s1_5 .l_box li:nth-child(2) a:before{ background: url(../../images/sub/print02.png) center no-repeat;}
.s1_5 figure{padding-top: 30px;}
.s1_5 figure img{ -webkit-box-shadow:  10px 10px 10px rgba(0,0,0,0.06) ; -moz-box-shadow:  10px 10px 10px rgba(0,0,0,0.06) ; box-shadow:  10px 10px 10px rgba(0,0,0,0.06) ; }
.s1_5 .arti02 figure{float: left;width: 48.6%;}
.s1_5 .arti02 figure:nth-child(2){ float: right; }
.map_border { display: none; }

@media (min-width:800px){
	.s1_5 .l_box li:hover a:before{transform:rotate(30deg)}
}

/* s2_1 */



/* s2_2 */
/* s2_3 s2_4*/
.sub_cont_2_3 .s_tit_box{padding-bottom: 18px;  margin-bottom: 60px;  }
.sub_cont_2_4 .s_tit_box{padding-bottom: 18px;  margin-bottom: 40px;}
.s2_4 .s_wrap,
.s2_3 .s_wrap{ margin: 0;}
.sub_cont > section.s2{ margin-bottom: 0; }
.sub_cont > section.s2_4_1{ margin-bottom: 150px; }
.sub_cont_2_3_1 .s_tit_box {margin-bottom: 50px;}
.s2_3 {margin-top: -20px;}
.s2_3 .arti01{ }
.s2_4 article,
.s2_3 article{margin-bottom: 50px; }
.s2_3_1 .arti01 ul{/* margin-bottom: 80px; */ }
.s2_4 .arti01 li,
.s2_3 .arti01 li{float: left; width: 49%; margin-right: 2%; margin-bottom: 30px;}
.s2_4 .arti01 li:nth-child(2n),
.s2_3 .arti01 li:nth-child(2n){margin-right: 0%; }
.s2_4 .arti01 img,
.s2_3 .arti01 img{ width: 100%;}
.s2_4 .arti01 p,
.s2_3 .arti01 p{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; padding: 40px 0 0 35px;height: 120px; -webkit-box-shadow:  10px 10px 10px rgba(0,0,0,0.06);-moz-box-shadow:  10px 10px 10px rgba(0,0,0,0.06);box-shadow:  10px 10px 10px rgba(0,0,0,0.06); vertical-align: middle; font-weight: 500; font-size: 24px; color: #00000c;}
.s2_4 .arti01 span,
.s2_3 .arti01 span{font-family: 'montserrat'; color: #113b95; font-size: 26px; font-weight: 600; padding-left: 5px;}
.s2_3 .arti01{ }
.s2_3 .arti01{ }
.s2_4 article:last-child,
.s2_3 article:last-child{ padding: 30px 0 150px; margin-bottom: 0; }
.s2_4_1 article:last-child,
.s2_3_1 article:last-child{padding-top: 0; margin-bottom: 0;}

.s2_3 .arti03{ }
.s2_4 th,
.s2_3 th{font-weight: 500; line-height: 60px; color: #333; background: #dde3f0; border-right:1px solid #fff; border-top: 1px solid #000;}
.s2_4 th:first-child,
.s2_4 th:nth-child(5),
.s2_3 th:first-child,
.s2_3 th:nth-child(5){width: 120px;}
.s2_4 td,
.s2_3 td{ height: 50px; line-height: 26px; color: #666; border: 1px solid #ddd;}
.s2_4 .arti02 table, 
.s2_3 .arti02 table{margin-bottom: 30px;}
.s2_4 .arti03 table, 
.s2_3 .arti03 table{margin-bottom: 0px;}
.s2_4 td:first-child,
.s2_3 td:first-child{ border-left: none; }
.s2_4 td:last-child,
.s2_3 td:last-child{ border-right: none;}
.s2_3 tr td{border-bottom:none ;}
.s2_4 .total,
.s2_3 .total{font-weight: 500; line-height: 60px; border-bottom: 1px solid #ddd;color: #333; border-top: none;border-right:none; border-left: none;background: #f9f9f9 url(../../images/sub/dot.png); top:0; background-repeat: repeat-x;}

.s2_3 .arti03 tr:last-child td{line-height: 1.6; border-bottom: 1px solid #ddd;}
.arti03{ }
.s2_4 .bg,
.s2_3 .bg{  background: url(../../images/sub/s2_1_12.png) bottom no-repeat; }
.s2_3 .arti02 ul{position: relative; }
.s2_3 .arti02 ul::before{content: ""; position: absolute;background: url(../../images/sub/s2_1_05.png) top 5px right 75px no-repeat; width: 100%;height: 235px; top:50%; left: 50%; -webkit-transform: translate(-50%,-50%);-moz-transform:translate(-50%,-50%) ;-ms-transform:translate(-50%,-50%) ;-o-transform:translate(-50%,-50%) ;transform:translate(-50%,-50%)}

.s2_3 .arti02 li{float: left; width: 31%; margin-right: 3.5%; position: relative; }
.s2_3 .arti02 li::before{background: url(../../images/sub/dots.png) no-repeat; width: 1px; height: 96px; left: 50%; -webkit-transform: translateX(-50%);-moz-transform:translateX(-50%) ;-ms-transform:translateX(-50%) ;-o-transform:translateX(-50%) ;transform:translateX(-50%) ; top:145px; content: ""; position: absolute;}
.s2_3 .arti02 li:nth-child(4)::before{display: none;}
.s2_3 .arti02 .l_bottom::before{bottom: 148px; top:auto; height: 90px;}
.s2_3 .arti02 .l_bottom p::before{bottom:33px; top:auto}

.s2_3 .arti02 .l_top{margin-bottom: 56px;}
.s2_3 .arti02 .l_top p{ padding-top: 68px;}
.s2_3 .arti02 .l_bottom{}
.s2_3 .arti02 .l_bottom p{padding-bottom: 69px;}

.s2_3 .arti02 li:nth-child(3n){ margin-right: 0%; }

.s2_3 .arti02 img{ }
.s2_3 .arti02 p{line-height: 25px; text-align: center; position: relative; }
.s2_3 .arti02 p::before{position: absolute; content: ""; width: 8px; height: 8px; background: #1a4299; border-radius:50%;left: 50%; -webkit-transform: translateX(-50%); -moz-transform:translateX(-50%) ;-ms-transform:translateX(-50%) ;-o-transform:translateX(-50%) ;transform:translateX(-50%) ; top:37px}
.s2_3 .arti02 span{display: block; font-family: 'Montserrat';   font-weight: 600; color: #1a4299;}
.s2_3 .arti02{ }
.s2_3 .arti02{ }
.s2_3 .arti02{ }
.s2_3 .arti02{ }

.s2_4 .bg{background-size: 140%;}

.s2_4 .bg{background-color:#f8f8f8;padding: 70px 0 125px;}
.s2_4 .c_box{position: relative; background: url(../../images/sub/s2_401.png) center no-repeat; width: 617px; height: 566px;  margin:auto}
.s2_4 .c_box p{position: absolute; font-size: 20px; font-weight: 500; line-height: 32px; top:215px}
.s2_4 .c_box p:first-child{text-align: right; left: -18px;}
.s2_4 .c_box p:nth-child(2){right: -18px; top:202px}
.s2_4 .c_box p:last-child{text-align: center; bottom:-40px; top:auto; left: 50%; -webkit-transform: translateX(-50%); -moz-transform:translateX(-50%) ;-ms-transform:translateX(-50%) ;-o-transform:translateX(-50%) ;transform:translateX(-50%)  }



/* s3_1 */
.sub_cont > section.s3_1 { margin-bottom: 0; }
.s3_1 .arti01 .img_box{ position: relative; }
.s3_1 .arti01 .img_box::before{width: 1px; height: 141px; background:#0f3a94 ; content: ""; position: absolute; top:190px; left: 50%; -webkit-transform: translateX(-50%);-moz-transform:translateX(-50%) ;-ms-transform:translateX(-50%) ;-o-transform:translateX(-50%) ;transform:translateX(-50%) ;}

.s3_1 .arti01 .img_box img{  }
.s3_1 .arti01 .img_box p{ font-size: 30px; font-weight: 500; line-height: 45px; color: #fff; position: absolute; text-align: center; top:50%; -webkit-transform: translateY(-50%);-moz-transform:translateY(-50%) ;-ms-transform:translateY(-50%) ;-o-transform:translateY(-50%) ;transform:translateY(-50%);width: 100%;}
.s3_1 .arti01 .text_box p{ line-height: 26px; text-align: center;width: 100%; padding-top: 70px;}
.s3_1 .arti01{  }
.s3_1 .arti01{  }
.s3_1 .arti01{  }
.s3_1 .arti02{ background: url(../../images/sub/s3_1_02.png) no-repeat bottom;  padding: 40px 0 150px 50px;}
.s3_1 .arti02 > div{ float: left;}
.s3_1 .arti02 .l_box{ text-align: right; }
.s3_1 .arti02 .c_box{ width: 235px; height: 235px; border-radius:50%; background: #fff; position: relative;border:45px solid #f8f8f8;}
.s3_1 .arti02 .c_box::before,
.s3_1 .arti02 .c_box::after{left: -51px; content: ""; position: absolute; width: 8px; height: 8px; border:4px solid #1c449a; background: #fff; border-radius:50%;  top:50%; -webkit-transform: translateY(-50%);-moz-transform:translateY(-50%) ;-ms-transform:translateY(-50%) ;-o-transform:translateY(-50%) ;transform:translateY(-50%);}
.s3_1 .arti02 .c_box::after{left: auto; right: -51px;}
.s3_1 .arti02 .c_box p{ font-size: 26px; color: #fff; font-weight: 500; height: 195px;  width: 195px; line-height: 195px; text-align: center; background: #0f3a94; border-radius: 50%; position: absolute; top:50%; left: 50%; -webkit-transform: translate(-50%,-50%);-moz-transform:translate(-50%,-50%) ;-ms-transform:translate(-50%,-50%) ;-o-transform:translate(-50%,-50%) ;transform:translate(-50%,-50%);}
.s3_1 .arti02 .r_box{  }
.s3_1 .arti02 h4{ font-size: 24px; line-height: 34px; font-weight: 500; color: #0f3a94; padding: 70px 30px 15px 30px; text-transform: uppercase;}
.s3_1 .arti02 .r_box h4{ padding-top: 75px; }
.s3_1 .arti02 p{ line-height: 30px; position: relative;}
.s3_1 .arti02 .l_box p{margin-right: 30px; padding-right: 10px;}
.s3_1 .arti02 .r_box p{margin-left: 30px; padding-left: 10px;}
.s3_1 .arti02 .l_box p::before{content: ""; position: absolute; width: 3px; height:3px; top:50%; -webkit-transform: translateY(-50%);-moz-transform:translateY(-50%) ;-ms-transform:translateY(-50%) ;-o-transform:translateY(-50%) ;transform:translateY(-50%); right: 0; background: #666;}
.s3_1 .arti02 .r_box p::before{left: 0;content: ""; position: absolute; width: 3px; height:3px; top:50%; -webkit-transform: translateY(-50%);-moz-transform:translateY(-50%) ;-ms-transform:translateY(-50%) ;-o-transform:translateY(-50%) ;transform:translateY(-50%);background: #666;}

.s3_1 .arti02{  }
.s3_1 .arti02{  }
.s3_1{  }
.s3_1{  }
.s3_1{  }


/* s3_2 */
.s3_2{ }
.s3_2 .arti01{ background: #f9f9f9; padding-bottom: 70px; margin-bottom: 50px;}
.s3_2 .arti01 ul{width: 93%; margin:auto}
.s3_2 .arti01 li{position: relative; float: left; width: 25%; margin-top: 53px;}
.s3_2 .arti01 li::before{position: absolute; content: ""; width: 70px; height: 16px; background: url(../../images/sub/s3_2_03.png) no-repeat;top: 71px;right:-33px ;}
.s3_2 .arti01 li:last-child::before{display: none;}
.s3_2 .arti01 h4{ color: #fff; font-weight: 700; font-size: 26px; text-align: center; line-height:160px; width: 160px; height: 160px; /* display: inline-block; */ border-radius:50%; margin:auto; position: relative;}
.s3_2 .arti01 li p{line-height: 26px; text-align: center; margin-top: 20px;	}
.s3_2 .arti01 .box01 h4{background: #1a164e;}
.s3_2 .arti01 .box02 h4{background: #1a4399;}
.s3_2 .arti01 .box03 h4{background: #0072ba;}
.s3_2 .arti01 .box04 h4{background: #019bd1;}


.s3_2 .arti01 .box01 h4::after,
.s3_2 .arti01 .box01 h4::before{border-color:#1a164e;}
.s3_2 .arti01 .box02 h4::after,
.s3_2 .arti01 .box02 h4::before{border-color:#1a4399;}
.s3_2 .arti01 .box03 h4::after,
.s3_2 .arti01 .box03 h4::before{border-color:#0072ba;}
.s3_2 .arti01 .box04 h4::after,
.s3_2 .arti01 .box04 h4::before{border-color:#019bd1;}


.s3_2 .arti01 li h4::after,
.s3_2 .arti01 li h4::before{position: absolute; background: #fff; border:4px solid; border-radius:50%; -webkit-border-radius:50%; content: ""; width: 7px; height: 7px; top: 50%;right: -7px; -webkit-transform: translateY(-50%);-moz-transform:translateY(-50%) ;-ms-transform:translateY(-50%) ;-o-transform:translateY(-50%) ;transform:translateY(-50%) ;}
.s3_2 .arti01 li h4::after{right:0; left: -7px; }
.s3_2 .arti01 .box01 h4::after,
.s3_2 .arti01 .box04 h4::before{display: none;}
.s3_2 .arti01 figure{position: relative;text-align: center; margin: 43px 0 50px; }
.s3_2 .arti01 span{position: absolute; left: 50%;  -webkit-transform: translateX(-50%);-moz-transform:translateX(-50%) ;-ms-transform:translateX(-50%) ;-o-transform:translateX(-50%) ;transform:translateX(-50%) ; color: #666; font-size: 24px; font-weight: 500; bottom:80px}
.s3_2 .arti01 div{display: table; margin:auto; }
.s3_2 .arti01 div p{width: 224px; display: table-cell;	 height: 57px; color: #fff; font-size: 20px;  line-height: 57px; text-align: center;}
.s3_2 .arti01 div p:nth-child(1){background: #019bd1;border-radius: 30px 0 0 30px ; }
.s3_2 .arti01 div p:nth-child(2){background: #0072ba; position: relative;}
.s3_2 .arti01 div p:nth-child(3){background: #1a4399;border-radius: 0 30px 30px 0;}
.s3_2 .arti01 div p:nth-child(2)::after,
.s3_2 .arti01 div p:nth-child(2)::before{width: 53px; height: 57px; content: ""; position: absolute; background: #004598; top:0; left: -26.5px; border-radius:50% ;}
.s3_2 .arti01 div p:nth-child(2)::after{ background: #001e70;right: -26.5px; left: auto; }

.s3_2 .arti02 { }
.s3_2 .arti02 > div{float: left; height: 330px; width: 50%;}
.s3_2 .arti02 .text_box{ background: url(../../images/sub/t_bg.png) no-repeat center/ 100%; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; padding: 67px 0 0 68px;background-size: cover;}
.s3_2 .arti02 .text_box h4{ font-size: 32px; color: #fff; font-weight: 500; margin-bottom: 10px;}
.s3_2 .arti02 .text_box ul{ }
.s3_2 .arti02 .text_box li{position: relative; color: #fff; line-height: 30px;padding-left: 14px;}
.s3_2 .arti02 .text_box li::after{position: absolute; background:#fff; width: 3px; height: 3px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform:translateY(-50%) ; -ms-transform:translateY(-50%) ; -o-transform:translateY(-50%) ; transform:translateY(-50%); content: ""; left: 0;}


.s3_2 .arti02 .img_box{background: url(../../images/sub/s3_2_02.png) no-repeat }
.s3_2 .arti02{ }
.s3_2 .arti02{ }
.s3_2 .arti02{ }


.s3_2{ }
.s3_2{ }
.s3_2{ }
.s3_2{ }
.s3_2{ }


/* s3_3 */

/* s4_1 */
.s4_1{text-align: center;}
.s4_1 .arti01 h3{font-size: 28px; line-height: 38px; font-weight: 400; margin-top: 60px;}
.s4_1 .arti01 span{font-weight: 500;color: #1c449a;}
/*.s4_1 .arti01 div{margin: 46px 0 100px;background: url(../../images/sub/s4_1_01.png) no-repeat bottom 35px center}*/
.s4_1 .arti01 div{margin: 46px 0 100px;}
.s4_1 .arti01 img{}
.s4_1 .arti01{}

.s4_1 .arti02 div{float: left; width: 32%; margin-right: 2%; text-align: center; -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.08) ;-moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.08);box-shadow: 0px 0px 20px rgba(0,0,0,0.08); height: 280px; position: relative;}
.s4_1 .arti02 div:last-child{margin-right: 0;}

.s4_1 .arti02 h4{text-transform: uppercase; position: relative; font-size: 24px; font-weight: 700; padding: 50px 0 20px; margin-bottom: 20px;}
.s4_1 .arti02 h4::before{content: ""; position: absolute; width: 33px; height: 3px; left: 50%;  -webkit-transform: translateX(-50%);-moz-transform:translateX(-50%) ;-ms-transform:translateX(-50%) ;-o-transform:translateX(-50%) ;transform:translateX(-50%) ; bottom: 0;}
.s4_1 .arti02 p{line-height: 26px;}
.s4_1 .arti02 .box01 h4{color: #67B4E3;}
.s4_1 .arti02 .box02 h4{color: #cee8fa;}
.s4_1 .arti02 .box03 h4{color: #97CCEC;}
.s4_1 .arti02 .box01 h4::before{background: #67B4E3;}
.s4_1 .arti02 .box02 h4::before{background: #cee8fa;}
.s4_1 .arti02 .box03 h4::before{background: #97CCEC;}
.s4_1 .arti02 div::before{  width: 0px;  height: 0px;  border-top: 35px solid transparent; position: absolute; content: ""; bottom:0; right: 0;}
.s4_1 .arti02 .box01::before{border-right: 35px solid #67B4E3;}
.s4_1 .arti02 .box02::before{border-right: 35px solid #cee8fa;}
.s4_1 .arti02 .box03::before{border-right: 35px solid #97CCEC;}





/* s4_2 */
.s4_2{}
.s4_2 ul{margin-top: 20px;}
.s4_2 li{width: 32%; float: left; margin:30px 2% 0 0;}
.s4_2 li:nth-child(3n){margin-right: 0;}

.s4_2 .img_box{border: 1px solid #ddd; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.s4_2 img{width: 100%;}
.s4_2 .text_box{text-align: center; -webkit-box-shadow: 2px 2px 35px rgba(0,0,0,0.06);-moz-box-shadow: 2px 2px 35px rgba(0,0,0,0.06);box-shadow:2px 2px 35px rgba(0,0,0,0.06); height: 260px;}
.s4_2 h4{font-size: 24px;color: #333; font-weight: 500; line-height: 32px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; padding: 40px 0 10px;}
.s4_2 p{line-height: 26px;}
.s4_2{}
.s4_2{}
.s4_2{}
.s4_2{}



/* s4_3 */
.s4_3{}
.s4_3 ul{border-top:1px solid #1c449a; border-bottom:1px solid #ddd;	}
.s4_3 li{display: table; padding: 45px 0 70px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%; border-bottom: 1px dotted #ddd; text-transform: uppercase;			}
.s4_3 li:first-child{ }
.s4_3 li:first-child img{padding: 14px 40px 0 45px; }

.s4_3 li:last-child{border-bottom: none;}
.s4_3 li:nth-child(odd){background: #f9f9f9;}
.s4_3 li:nth-child(even){padding-bottom:50px ;	}
.s4_3 .img_box{ width: 38.7%; display: table-cell;}
.s4_3 img{float: left;padding: 0 40px; }
.s4_3 li:first-child h3{font-size: 23px; /* letter-spacing: 1px; */}
.s4_3 h3{font-size: 24px; line-height: 34px; font-weight: 500;float: left;}
.s4_3 .text_box{width: 61.3%; display: table-cell; vertical-align: top;	}
.s4_3 h4{color: #1c449a; font-size: 18px; font-weight: 700; line-height: 26px; margin-bottom: 13px;}
.s4_3 p{line-height: 26px;}
.s4_3{}


.bo_table_wrap{ margin-bottom: 150px; }

