@charset "utf-8";
/*
	Template
*/

/** Common **/
.input_ty {width:100px;padding:5px;border:solid 1px #e5e5e5;font-size:14px;color:#000;}
.placeholder {color:#afafaf;}
:-ms-input-placeholder {color:#afafaf;} /* M$ */
::-webkit-input-placeholder {color:#afafaf;} /* webkit */
::-moz-placeholder {color:#afafaf;} /* firefox */

/*.select_ty {width:100px;padding:5px 10px;background-image:url(../images_new/layout/ico_select_arr.png);background-repeat:no-repeat;background-position:90% center;appearance:none;-moz-appearance:none;-webkit-appearance:none;border:solid 1px #e5e5e5;font-size:14px;color:#000;transition:background 0.4s;}
.select_ty:hover, .select_ty:focus {background-image:url(../images_new/layout/ico_select_arr_ov.png);}*/
.select_ty {width:120px;padding:5px 10px;border:solid 1px #e5e5e5;font-size:14px;color:#000;box-sizing:border-box;}

.tarea_ty {width:100%;height:100px;padding:15px;border:solid 1px #e5e5e5;font-size:14px;color:#000;box-sizing:border-box;resize:none;}

/* Input Size */
.w20 {width:20%;}

/* 오시는길 *//* 
.root_daum_roughmap {width: 805px !important;height: 370px !important;} */
.template_map{margin-bottom: 43px;	position: relative;}
.root_daum_roughmap .wrap_controllers{display: none; }
.s1_4 .root_daum_roughmap{width: 100% !important; height: 100% !important;}
.root_daum_roughmap .wrap_map {height: 100%; box-sizing: border-box; padding: 0px;}
.template_map{height: 518px !important;}
.location{width: 100%;margin: 0 auto;margin-top: 0; position: relative; margin-top: -61px; z-index: 9; right: 0;}
.location h3{;font-weight: 500;line-height: 28px;font-size: 25px;float: left;color: #303030;width: 15.2%; }
.location ul{float: right;}
.location ul li{float: left;border: 1px solid #dbdbdb;}
.location ul li:nth-child(1){margin-bottom: 2px;}
.location ul li:last-child{border-left: none;}
.location ul li:last-child::After{display: none;}
.adress{float: left !important;width: 71%;margin-top: -7px;}
.adress li:nth-child(2){position:relative;padding-right: 12px;margin-right: 12px;}
/* .adress li:nth-child(2)::after{position: absolute;content: '';width: 1px;height: 12px;background: #dbdbdb;right: 0;top: 50%;margin-top: -6px;} */
.adress li:nth-child(3){position:relative;padding-right: 12px;margin-right: 12px;}
.adress li:nth-child(3)::after{position: absolute;content: '';width: 1px;height: 12px;background: #dbdbdb;right: 0;top: 50%;margin-top: -6px;}
.adress li:nth-child(3), .adress li:nth-child(2){float:left !important; }
.adress li{font-size: 17px;line-height: 36px;font-weight: 400;color: #606060;float: left;border: none !important;float: none !important;}



/* table_ty */
.table_ty {border-top:solid 2px #be4242;}
.table_ty thead th {padding:22px 10px;border-bottom:solid 1px #a1a1a1;font-size:17px;font-weight:400;color:#be4242;text-align:center;}
.table_ty tbody td {padding:10px 10px;border-bottom:solid 1px #dbdbdb;text-align:center;}
.table_ty td.tl {padding:10px 20px;text-align:left;}
.table_ty td.tr {padding:10px 20px;text-align:right;}
.table_ty .tc {text-align:center;}


.table_btm {margin-top:10px;text-align:right;font-size:14px;}
.table_btm .btm_tit {margin-bottom:10px;font-size:20px;font-weight:500;color:#303030;}

/* Btns */
.btn_ty {display:inline-block;min-width:118px;padding:6px 0;background:#1b439a;border:none;font-size:16px;color:#fff;text-align:center;line-height:30px;position: relative;	 z-index: 15;cursor:pointer;box-sizing:border-box;transition:background 0.4s;}/* 파랑색 */

.btn_ty02 {background:#fff;border:1px solid #ddd; color: #666;}
.btn_ty03 {background:#fff;border:solid 1px #dbdbdb;color:#666;}
.btn_ty:hover, .btn_ty:focus {text-decoration:underline;}
.btn_ty02:hover, .btn_ty02:focus {text-decoration:underline;}
.btn_ty03:hover, .btn_ty03:focus {text-decoration:underline;;}



/*** BOARD ***/
/** 페이징 **/
.pg_wrap {margin:30px 0 0;padding:0;}
.pg_wrap .pg {display:block;}
.pg_wrap .pg_page, 
.pg_wrap .pg_current {width:32px;margin:0;padding:0;height:auto;background:#fff;line-height:31px;vertical-align:top;box-sizing:border-box;height: 35px;}
.pg_wrap .pg_start,
.pg_wrap .pg_end {width:32px;}
.pg_wrap .pg_start{background:url(../../images/template/page_start.jpg) center no-repeat; text-indent:-9999px;}
.pg_wrap .pg_end {background:url(../../images/template/page_last.jpg) center no-repeat; text-indent:-9999px}
.pg_wrap .pg_page {border:solid 1px #ddd;color:#666;transition:all 0.4s;}
.pg_wrap .pg_page:hover, .pg_wrap .pg_page:focus, .pg_wrap .pg_page:active,
.pg_wrap .pg_current {border:solid 1px #1aa0e5;color:#fff;background-color: #1aa0e5;}

/** 검색 **/
.bd_search {margin-top:40px;padding:40px 0;background:#f3f3f3;text-align:center;margin-bottom: 0;}
.bd_search.top {margin:0 0 40px;}
.bd_search .select_ty {width:20%;height:45px;}
.bd_search .input_ty {width:60%;min-height:45px;padding:5px 10px;}
.bd_search .btn_search {min-width:5%;height:45px;min-height:45px;background-image:url(../../images/template/ico_search_w.png);background-repeat:no-repeat;background-position:center center;font-size:0;line-height:45px;}

#bo_cate {margin:0;}
.bd_cate {display:table;width:100%;margin-bottom:50px;border:solid 1px #dbdbdb;table-layout:fixed;box-sizing:border-box;}
.bd_cate > li {display:table-cell;border-left:solid 1px #dbdbdb;vertical-align:middle;}
.bd_cate > li:first-child {border:none;}
.bd_cate > li > a {padding:20px 5px;font-size:17px;color:#333;text-align:center;transition:all 0.4s;}
.bd_cate > li > a#bo_cate_on, .bd_cate > li > a:hover, .bd_cate > li > a:focus {background:#20b0e9;color:#fff;}

/** 상세 **/
#bo_v .view_top_sec {padding:60px 60px;background:#c0a355 url(../../images/template/simbol_bg.html) no-repeat right top;box-sizing:border-box;}
#bo_v .view_top_sec #bo_v_title {margin-bottom:25px;font-size:30px;font-weight:700;color:#fff;line-height:30px;}
#bo_v .view_top_sec .info {font-size:15px;color:#e7dbbc;line-height:15px;}
#bo_v .view_top_sec .info > span {display:inline-block;margin-right:15px;padding-right:15px;border-right:solid 1px #e7dbbc;vertical-align:top;}
#bo_v .view_top_sec .info > span:last-child,
#bo_v .view_top_sec .info > span.last {margin:0;padding:0;border:none;}

#bo_v_file .view_file_download img {width:auto;margin-right:5px;vertical-align:middle;}

#bo_v_atc {padding: 20px 30px;border-bottom:solid 1px #dbdbdb;width: 100%;box-sizing: border-box;}
#bo_v_atc #bo_v_atc_title {display:none;}
#bo_v_atc #bo_v_img {}
#bo_v_atc #bo_v_img img {width:auto;max-width:100%;}
#bo_v_atc #bo_v_con {margin:0;font-family:'Nanum Gothic' !important;font-size:14px;color:#606060;line-height:30px;}
#bo_v_atc #bo_v_con h4, #bo_v_atc #bo_v_con p, #bo_v_atc #bo_v_con div {font-family:'Nanum Gothic' !important;font-size:14px;}
#bo_v_atc #bo_v_con img {display:block;width:auto;max-width:100%;margin:0 auto;}

.btm_btns {margin-top:30px;text-align:center;}
.btm_btns .sort_l {float:left;}
.btm_btns .sort_r {float:right;}